/* Estilos personalizados para el canvas y scrollbars */
#viewport canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}

/* Animación simple para el botón de actualización */
#updateBtn:active {
    transform: scale(0.98);
}

@media (max-width: 1024px) {
    aside {
        position: fixed;
        left: -100%;
        /* Oculto por defecto */
        top: 60px;
        /* Debajo del nav */
        bottom: 0;
        z-index: 50;
        transition: left 0.3s ease-in-out;
        width: 280px;
    }

    aside.active {
        left: 0;
        /* Se muestra al activar */
    }

    #sidebarOverlay.active {
        display: block;
    }
}